.App {
  text-align: center;
  margin: auto;
  width: 28%;
}

.maze-image {
width: 30px;
height: 30px;
padding-top: 5px;
}

#root{
  margin: 0 auto;

}
.cell{ 
width: 38px; height: 38px;
background: lightgrey;
border:solid black 1px;
display: block;
float: left;
border-radius: 5px;
}

.getting_started {
  width: 100%;
  font-family: cursive
}

.game_wrapper {
  width: 100%;
}

.scoreGame {
  display: flex;
  width: 100%;
}

.scoreGame>div{
    width: 30%;
    margin-top: 10vh;
    background: #ccc7c7;
    color: black;
    border: 1px solid #ccc7c7;
    margin-right: 5px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 5px;
    height: 13vh;
    font-family: cursive;
}




